body {
    font-family: Arial, sans-serif;
    background-color: #f58ad1;
    color: #252525;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fa578d;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

.content {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: none; /* Initially hidden */
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.btn {
    display: block;
    margin: 10px 0;
    padding: 10px 15px;
    background-color: #fa578d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #e34779;
}
